<h1>Todos</h1>
<table border="1">
  <% @todos.each do |todo| %>
    <tr>
      <td>
        <%= todo.title %>
      </td>
      <td>
        <%= link_to 'show', todo_path(todo)%>
      </td>
    </tr>
  <% end %>
</table>
